.app__header {
   display: flex;
   background-color: var(--color-black);
}

.app__header-h1 {
   display: flex;
   font-family: var(--font-base);
   color: var(--color-golden);
   font-weight: 700;
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 117px;
   font-size: 70px;
}

.app__wraper_img {
   display: flex;
   justify-content: center;
}
.app__wraper_img img {
   width: 80%;
}

@media screen and (max-width: 1150px) {
   .app__header-h1 {
      font-size: 70px;
   }
   .app__header {
      flex-direction: column;
   }
   .app__wraper_img img {
      padding: 1rem;
      margin-left: 2rem;
      align-items: center;
   }
}

@media screen and (max-width: 650px) {
   .app__header-h1 {
      font-size: 70px;
      line-height: 87px;
      
   }
}

@media screen and (max-width: 450px) {
   .app__header-h1 {
      font-size: 50px;
      line-height: 70px;
   }
}
